[flake8]
exclude = venv
max-line-length = 92
per-file-ignores =
    restaurant/migrations/*:E501
    restaurant/tests.py:E501
    restaurant/*:E203, E402
    yelprestaurantdetails.py:E501, E402
    user/migrations/*:E501
