{% extends 'base.html' %} {% load static %} {% block content %}
<section class="py-5">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb pl-0  justify-content-start">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active">Account Details   </li>
        </ol>
        <h1 class="hero-heading mb-0">Account Details</h1>
        <p class="text-muted mb-5">Manage your Account Details and settings here.</p>
        <div class="row">
            <div class="col-lg-7">
                <div class="text-block">
                    <div class="row mb-3">
                        <div class="col-sm-9">
                            <h3>Personal Details</h3>
                        </div>
                        <div class="col-sm-3 text-right">
                            <button class="btn btn-link pl-0 text-primary collapsed" type="button" data-toggle="collapse" data-target="#personalDetails" aria-expanded="false" aria-controls="personalDetails">Update</button>
                        </div>
                    </div>
                    <p class="text-sm text-muted">
                        <i class="fa fa-id-card fa-fw mr-2"></i>John Doe<br>
                        <i class="fa fa-birthday-cake fa-fw mr-2"></i>06/22/1980<br>
                        <i class="fa fa-envelope-open fa-fw mr-2"></i>john.doe@directory.com <span class="mx-2"> | </span>
                        <i class="fa fa-phone fa-fw mr-2"></i>+42055544466
                    </p>
                    <div class="collapse" id="personalDetails">
                        <form action="#">
                            <div class="row pt-4">
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="name">Name</label>
                                    <input class="form-control" type="text" name="name" id="name" value="John Doe">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="date">Date of birth</label>
                                    <input class="form-control" type="text" name="date" id="date" value="06/22/1980">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="email">Email address</label>
                                    <input class="form-control" type="email" name="email" id="email" value="john.doe@directory.com">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="phone">Phone number</label>
                                    <input class="form-control" type="text" name="phone" id="phone" value="+42055544466">
                                </div>
                            </div>
                            <button class="btn btn-outline-primary mb-4" type="submit">Save your personal details</button>
                        </form>
                    </div>
                </div>
                <div class="text-block">
                    <h3 class="mb-4">Login</h3>
                    <div class="row">
                        <div class="col-sm-8">
                            <h6>Password</h6>
<!--                            <p class="text-sm text-muted">Last updated 3 years ago</p>-->
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-link pl-0 text-primary collapsed" type="button" data-toggle="collapse" data-target="#updatePassword" aria-expanded="false" aria-controls="updatePassword">Update</button>
                        </div>
                    </div>
                    <form class="form-validate" method="post">
                        <div class="collapse" id="updatePassword">
                            <div class="row mt-4">
                                {% csrf_token %}
                                {% if form.errors %}
                                {% for field in form %}
                                {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endif %}
                                <div class="form-group col-12">
                                    <label class="form-label" for="password_current">Current Password</label>
                                    <input class="form-control" type="password" name="password_current" id="password_current">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="password_new">New Password</label>
                                    <input class="form-control" type="password" name="password_new" id="password_new">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="password_confirm">Confirm Password</label>
                                    <input class="form-control" type="password" name="password_confirm" id="password_confirm">
                                </div>
                            </div>
                            <button class="btn btn-outline-primary">Update Password</button>
                        </div>
                    </form>
                </div>
                <div class="text-block">
                    <div class="row mb-3">
                        <div class="col-sm-9">
                            <h3>Personal Preferences</h3>
                        </div>
                        <div class="col-sm-3 text-right">
                            <button class="btn btn-link pl-0 text-primary collapsed" type="button" data-toggle="collapse" data-target="#personalPreferences" aria-expanded="false" aria-controls="personalDetails">Update</button>
                        </div>
                    </div>
                    <p class="text-sm text-muted">
                        <i class="fas fa-pizza-slice fa-fw mr-2"></i>Pizza<br>
<!--                        <i class="fa fa-birthday-cake fa-fw mr-2"></i>06/22/1980<br>-->
<!--                        <i class="fa fa-envelope-open fa-fw mr-2"></i>john.doe@directory.com <span class="mx-2"> | </span>-->
<!--                        <i class="fa fa-phone fa-fw mr-2"></i>+42055544466-->
                    </p>
                    <div class="collapse" id="personalPreferences">
                        <form action="#">
                            <div class="row pt-4">
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="pcategory">Category</label>
                                    <select class="selectpicker form-control" name="pcategory" id="pcategory" multiple
                                            data-style="btn-selectpicker" data-live-search="true"
                                            data-selected-text-format="count &gt; 1" title="">
                                        <option value="newamerican">New American</option>
                                        <option value="armenian">Armenian</option>
                                        <option value="barbeque">Barbeque</option>
                                        <option value="bars">Bars</option>
                                        <option value="bistros">Bistros</option>
                                        <option value="burgers">Burgers</option>
                                        <option value="chinese">Chinese</option>
                                        <option value="danish">Danish</option>
                                        <option value="diners">Diners</option>
                                        <option value="ethiopian">Ethiopian</option>
                                        <option value="filipino">Filipino</option>
                                        <option value="french">French</option>
                                        <option value="georgian">Georgian</option>
                                        <option value="german">German</option>
                                        <option value="greek">Greek</option>
                                        <option value="hotdog">Hot dog</option>
                                        <option value="italian">Italian</option>
                                        <option value="bistros">Bistros</option>
                                        <option value="japanese">Japanese</option>
                                        <option value="jewish">Jewish</option>
                                        <option value="kebab">Kebab</option>
                                        <option value="korean">Korean</option>
                                        <option value="kosher">Kosher</option>
                                        <option value="mexican">Mexican</option>
                                        <option value="noodles">Noodles</option>
                                        <option value="pizza">Pizza</option>
                                        <option value="salad">Salad</option>
                                        <option value="sandwiches">Sandwiches</option>
                                        <option value="seafood">Seafood</option>
                                        <option value="sushi">Sushi</option>
                                        <option value="tapassmallplates">Tapas/Small plates</option>
                                        <option value="vegan">Vegan</option>
                                        <option value="vegetarian">Vegetarian</option>
                                        <option value="vietnamese">Vietnamese</option>
                                        <option value="waffles">Waffles</option>
                                        <option value="wraps">Wraps</option>
                                    </select>
                                </div>
<!--                                <div class="form-group col-md-6">-->
<!--                                    <label class="form-label" for="date">Date of birth</label>-->
<!--                                    <input class="form-control" type="text" name="date" id="date" value="06/22/1980">-->
<!--                                </div>-->
<!--                                <div class="form-group col-md-6">-->
<!--                                    <label class="form-label" for="email">Email address</label>-->
<!--                                    <input class="form-control" type="email" name="email" id="email" value="john.doe@directory.com">-->
<!--                                </div>-->
<!--                                <div class="form-group col-md-6">-->
<!--                                    <label class="form-label" for="phone">Phone number</label>-->
<!--                                    <input class="form-control" type="text" name="phone" id="phone" value="+42055544466">-->
<!--                                </div>-->
                            </div>
                            <button class="btn btn-outline-primary mb-4" type="submit">Save your Preferences</button>
                        </form>
                    </div>
                </div>
                <div class="text-block">
                    <h3 class="mb-4">Social accounts</h3>
                    {% load socialaccount %}
                    {% get_social_accounts user as accounts %}
                    <div class="row">
                        <div class="col-sm-8">
                            <h6>Facebook</h6>
                            {% if accounts.facebook %}
                                <p class="text-sm text-primary pl-0">Connected</p>
                            {% else %}
                                <p class="text-sm text-muted">Not connected</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <h6>Google</h6>
                            {% if accounts.google %}
                                <p class="text-sm text-primary pl-0">Connected</p>
                            {% else %}
                                <p class="text-sm text-muted">Not connected</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ml-lg-auto">
                <div class="card border-0 shadow">
                    <div class="card-header bg-primary-light py-4 border-0">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <h4 class="h6 subtitle text-sm text-primary">Let's make your account more secure</h4>
                            </div>
                            <svg class="svg-icon svg-icon svg-icon-light w-3rem h-3rem ml-3 text-primary">
                                <use xlink:href="#shield-security-1"> </use>
                            </svg>
                        </div>
                        {% if not accounts.google %}
                            <div class="col text-right"><a class="btn btn-text text-primary pl-0" href="{% provider_login_url "google" process="connect" method="oauth2" %}">Connect</a></div>
                        {% endif %}
                    </div>
                    <div class="card-body p-4">
                        <h6 class="card-text">Your account security: </h6>
                        <p class="card-text mb-4"><span class="badge badge-info-light">Medium</span></p>
                        <p class="text-muted card-text">We’re always working on ways to increase safety in our community. </p>
                        <p class="text-muted card-text">That’s why we look at every account to make sure it’s as secure as possible.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}