{% extends 'base.html' %} {% load static %} {% block content %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<section class="py-5">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb pl-0  justify-content-start">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active">Account Details   </li>
        </ol>
        <h1 class="hero-heading mb-0">Account Details</h1>
        <p class="text-muted mb-5">Manage your Account Details and settings here.</p>
        <div class="row">
            <div class="col-lg-7">
                {% load socialaccount %}
                {% get_social_accounts user as accounts %}
                {% if accounts.facebook or accounts.google %}
                {% else %}
                <div class="text-block">
                    <h3 class="mb-4">Login</h3>
                    <div class="row">
                        <div class="col-sm-8">
                            <h6>Password</h6>
                            <!--                            <p class="text-sm text-muted">Last updated 3 years ago</p>-->
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-link pl-0 text-primary collapsed" type="button" data-toggle="collapse" data-target="#updatePassword" aria-expanded="false" aria-controls="updatePassword">Update</button>
                        </div>
                    </div>
                    <form class="form-validate" method="post" id="update_password_form">
                        {% csrf_token %}
                        <div class="collapse" id="updatePassword">
                            <div class="row mt-4" id="sub_update_password_form">
                                <div id="error_update_pass">

                                </div>
                                <div class="form-group col-12">
                                    <label class="form-label" for="password_current">Current Password</label>
                                    <input class="form-control" type="password" name="password_current" id="password_current" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="password_new">New Password</label>
                                    <input class="form-control" type="password" name="password_new" id="password_new" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="password_confirm">Confirm Password</label>
                                    <input class="form-control" type="password" name="password_confirm" id="password_confirm" required>
                                </div>
                            </div>
                            <button class="btn btn-outline-primary">Update Password</button>
                        </div>
                    </form>
                </div>
                <script>
                    $('#update_password_form').on('submit', function(event){
                        event.preventDefault();
                        update_password();
                    });
                    function update_password() {
                        var form = new FormData(document.getElementById("update_password_form"));
                        $.ajax({
                            url : "update_password",
                            type : "POST",
                            data : form,
                            processData: false,
                            contentType: false,
                            success : function(json) {
                                $('#error_update_pass').html("");

                                var div1 = document.createElement("div");
                                var strong1 = document.createElement("strong");
                                strong1.innerHTML = "Your password has been updated, the page will redirect to login page in 3 seconds.";
                                div1.appendChild(strong1);

                                div1.className = "alert alert-success";
                                div1.id = "alert_msg";
                                document.getElementById("error_update_pass").appendChild(div1);

                                window.setTimeout(function() {
                                    window.location.reload();
                                }, 3000);

                            },
                            error : function(xhr,errmsg,err) {
                                console.log(xhr);
                                $('#error_update_pass').html("");
                                var json = JSON.parse(xhr.responseText);
                                for(i = 0; i < json.errors.length; i++) {
                                    console.log(json.errors[i]);

                                    var div1 = document.createElement("div");
                                    var strong1 = document.createElement("strong");
                                    strong1.innerHTML = json.errors[i];
                                    div1.appendChild(strong1);

                                    div1.className = "alert alert-danger";
                                    div1.id = "alert_msg";
                                    document.getElementById("error_update_pass").appendChild(div1);
                                }

                            }
                        });
                    };
                </script>
                {% endif %}
                <div class="text-block">
                    <div class="row mb-3">
                        <div class="col-sm-9">
                            <h3>Personal Preferences</h3>
                        </div>
                        <div class="col-sm-3 text-right">
                            <button class="btn btn-link pl-0 text-primary collapsed" type="button" data-toggle="collapse" data-target="#personalPreferences" aria-expanded="false" aria-controls="personalDetails">Update</button>
                        </div>
                    </div>
                    <div class="row pt-4">
                        {% for pref in user_pref %}
                        {% csrf_token %}
                        <ul class="list-group">
                            <li id="{{ pref.category }}" class="list-group-item">
                                <form name="saved_pref_delete" class="saved_res_remove" onsubmit="return false;" category="{{ pref.category }}" method="POST">
                                    {{ pref.category }}&nbsp&nbsp
                                    <button type="submit" class="close" aria-label="Close" data-toggle="tooltip" data-placement="top" data-original-title="Remove from Preference">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </form>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                    <div class="collapse" id="personalPreferences">
                        {% csrf_token %}
                        <form class="saved_res_remove" id="add_pref_form" name="add_pref_form" method="POST" action="">
                            {% csrf_token %}
                            <div class="row pt-4">
                                    <div class="form-group col-md-6">

                                        <label class="form-label" for="pref_list">Category</label>
                                        <select class="selectpicker form-control" name="pref_list" id="pref_list" multiple data-style="btn-selectpicker" data-live-search="true" data-selected-text-format="count &gt; 1" title="">
                                            <option value="newamerican">New American</option>
                                            <option value="armenian">Armenian</option>
                                            <option value="bars">Bars</option>
                                            <option value="bistros">Bistros</option>
                                            <option value="burgers">Burgers</option>
                                            <option value="chinese">Chinese</option>
                                            <option value="danish">Danish</option>
                                            <option value="diners">Diners</option>
                                            <option value="ethiopian">Ethiopian</option>
                                            <option value="filipino">Filipino</option>
                                            <option value="french">French</option>
                                            <option value="georgian">Georgian</option>
                                            <option value="german">German</option>
                                            <option value="greek">Greek</option>
                                            <option value="hotdog">Hot dog</option>
                                            <option value="italian">Italian</option>
                                            <option value="bistros">Bistros</option>
                                            <option value="japanese">Japanese</option>
                                            <option value="jewish">Jewish</option>
                                            <option value="kebab">Kebab</option>
                                            <option value="korean">Korean</option>
                                            <option value="kosher">Kosher</option>
                                            <option value="mexican">Mexican</option>
                                            <option value="noodles">Noodles</option>
                                            <option value="pizza">Pizza</option>
                                            <option value="salad">Salad</option>
                                            <option value="sandwiches">Sandwiches</option>
                                            <option value="seafood">Seafood</option>
                                            <option value="sushi">Sushi</option>
                                            <option value="vegan">Vegan</option>
                                            <option value="vegetarian">Vegetarian</option>
                                            <option value="vietnamese">Vietnamese</option>
                                            <option value="waffles">Waffles</option>
                                            <option value="wraps">Wraps</option>
                                        </select>
                                    </div>
                                        <script>
                                            var pref_menu = document.getElementById("pref_list").options;
                                            for(var i=0; i<{{user_pref_json|safe}}.length; i++){
                                                var current_pref = {{user_pref_json|safe}}[i].category;

                                                if($("#pref_list option[value='+current_pref+']").length == 0){
                                                    console.log(current_pref);
                                                    $('#pref_list').children('option[value='+current_pref+']').hide();

                                                }
                                            }


                                        </script>
                                </div>
                                <button class="btn btn-outline-primary mb-4" type="submit" data-original-title="add_preference">Save your Preferences</button>
                            </form>
                    </div>
                </div>
                <!--favorite restaurants list-->
                <div class="text-block">
                    <div class="row mb-3">
                        <div class="col-sm-9">
                            <h3>Favorite Restaurants</h3>
                            <div class="row pt-4">
                                {% for restaurant in favorite_restaurant_list %}
                                {% csrf_token %}
                                <ul class="list-group">
                                    <li id="{{ restaurant.business_id }}" class="list-group-item">
                                        <form name="saved_res_remove" class="saved_res_remove" onsubmit="return false;" res_business_id="{{ restaurant.business_id }}" method="POST">
                                            <a href="../restaurant/profile/{{ restaurant.id }}" target="_blank">
                                                {{ restaurant.restaurant_name }}
                                            </a>
                                            &nbsp&nbsp
                                            <button type="submit" class="close" aria-label="Close" data-toggle="tooltip" data-placement="top" data-original-title="Remove from Favorites">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ml-lg-auto">
                <div class="card border-0 shadow">
                    <div class="card-header bg-primary-light py-4 border-0">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <h4 class="h6 subtitle text-sm text-primary">Verify Your Connected Social Accounts</h4>
                            </div>
                            <svg class="svg-icon svg-icon svg-icon-light w-3rem h-3rem ml-3 text-primary">
                                <use xlink:href="#shield-security-1"> </use>
                            </svg>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <div class="text-block">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h6>Facebook</h6>
                                    {% if accounts.facebook %}
                                    <p class="text-sm text-primary pl-0">Connected</p>
                                    {% else %}
                                    <p class="text-sm text-muted">Not connected</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <h6>Google</h6>
                                    {% if accounts.google %}
                                    <p class="text-sm text-primary pl-0">Connected</p>
                                    {% else %}
                                    <p class="text-sm text-muted">Not connected</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
            $('body').on('submit', "form[name='saved_res_remove']", function(event) {
                var currentForm = $(this);
                event.preventDefault();
                var formData = currentForm.serialize();
                $.ajaxSetup({
                     beforeSend: function(xhr, settings) {
                         function getCookie(name) {
                             var cookieValue = null;
                             if (document.cookie && document.cookie != '') {
                                 var cookies = document.cookie.split(';');
                                 for (var i = 0; i < cookies.length; i++) {
                                     var cookie = jQuery.trim(cookies[i]);
                                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                         break;
                                     }
                                 }
                             }
                             return cookieValue;
                         }
                         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                         }
                     }
                });
                $.ajax({
                  type: 'POST',
                  url: "../restaurant/delete/favorite/restaurant/" + currentForm.attr("res_business_id"),
                  data: formData,
                  processData: false,
                  contentType: false,
                  // handle a successful response
                  success : function(response) {
                       $('#'+currentForm.attr('res_business_id')).hide();
                  },
                  error : function(xhr,errmsg,err) {
                    console.log('Error')
                  }
                });
            });
</script>
<script>
{#  remove saved preference #}
        $('body').on('submit', "form[name='saved_pref_delete']", function(event) {
                var currentForm = $(this);
                event.preventDefault();
                var formData = currentForm.serialize();
                $.ajaxSetup({
                     beforeSend: function(xhr, settings) {
                         function getCookie(name) {
                             var cookieValue = null;
                             if (document.cookie && document.cookie != '') {
                                 var cookies = document.cookie.split(';');
                                 for (var i = 0; i < cookies.length; i++) {
                                     var cookie = jQuery.trim(cookies[i]);
                                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                         break;
                                     }
                                 }
                             }
                             return cookieValue;
                         }
                         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                         }
                     }
                });
                $.ajax({
                  type: 'POST',
                  url: "../user/delete/preference/user/" + currentForm.attr("category"),
                  data: formData,
                  processData: false,
                  contentType: false,
                  // handle a successful response
                  success : function(response) {
                       $('#'+currentForm.attr('category')).hide();
                  },
                  error : function(xhr,errmsg,err) {
                    console.log('Error')
                  }
                });
        });
    </script>
<script>
    $('#add_pref_form').on('submit', function(event) {
                event.preventDefault();
                var form_data = new FormData(document.getElementById("add_pref_form"))
                var add_form = document.getElementById("add_pref_form");

                {#console.log("add form value is : ",form_data.get("pref_list"));#}
                $.ajaxSetup({
                     beforeSend: function(xhr, settings) {
                         function getCookie(name) {
                             var cookieValue = null;
                             if (document.cookie && document.cookie != '') {
                                 var cookies = document.cookie.split(';');
                                 for (var i = 0; i < cookies.length; i++) {
                                     var cookie = jQuery.trim(cookies[i]);
                                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                         break;
                                     }
                                 }
                             }
                             return cookieValue;
                         }
                         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                         }
                     }
                });
                $.ajax({
                  type: 'POST',
                  url: "../user/add/preference/user",
                  data: form_data,
                  processData: false,
                  contentType: false,
                  // handle a successful response
                  success : function(response) {
                      window.location.reload(true);
                  },
                  error : function(xhr,errmsg,err) {
                    console.log('Ajax Error')
                  }
                });
        });


    </script>
{% endblock %}