{% extends 'base-static.html' %} {% load static %} {% block content %}

<body>
<div class="container-fluid px-3">
    <div class="row min-vh-100">
        <div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">
            <div class="w-100 py-5 px-md-5 px-xl-6 position-relative">
                <div class="mb-5">
                    <h2>Welcome back</h2>
                </div>
                <form class="form-validate" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <label class="form-label" for="username"> Username</label>
                        <input class="form-control" name="username" id="username" placeholder="Username" autocomplete="off" required data-msg="Please enter your email">
                    </div>
                    <div class="form-group mb-4">
                        <div class="row">
                            <div class="col">
                                <label class="form-label" for="password"> Password</label>
                            </div>
                            <div class="col-auto"><a class="form-text small" href="{% url 'user:forget_password' %}">Forgot password?</a></div>
                        </div>
                        <input class="form-control" name="password" id="password" placeholder="Password" type="password" required data-msg="Please enter your password">
                    </div>
                    <!-- Submit-->
                    <button class="btn btn-lg btn-block btn-primary" type="submit">Sign in</button>
                    <hr class="my-3 hr-text letter-spacing-2" data-content="OR">
                </form>
                    <form>
                        {% load socialaccount %}
                        <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
                        <button class="btn btn btn-outline-primary btn-block btn-social
                        mb-3" type="submit" formaction="
{% provider_login_url 'facebook' process="login" action='reauthenticate' %}">
                            <i class="fa-2x fa-facebook-f fab btn-social-icon"></i>
                            Sign in with Facebook
                        </button>

                        <button class="btn btn btn-outline-muted btn-block btn-social
                    mb-3" type="submit" formaction="
{% provider_login_url 'google' process="login" action='reauthenticate' %}">
                        <i class="fa-2x fa-google fab btn-social-icon"></i>
                        Sign in with Google
                        </button>
                    </form>
                    <hr class="my-4">
                    <p class="text-center"><small class="text-muted text-center">Don't have an account yet? <a href="{% url 'user:register' %}">Sign Up </a></small></p>
                    <p class="text-center"><small class="text-muted text-center">Don't want to login? <a href="{% url 'index' %}">Exit</a></small></p>
            </div>
        </div>
        <div class="col-md-4 col-lg-6 col-xl-7 d-none d-md-block">
            <!-- Image-->
            <div class="bg-cover h-100 mr-n3" style="background-image: url(https://i1.wp.com/trendland.com/wp-content/uploads/2015/08/Vanessa_Rees_Protein_Nija-5.jpg);"></div>
        </div>
    </div>
</div>
{% endblock %}