{% extends 'base-static.html' %} {% load static %}
{% block content %}


<div class="container-fluid px-3">
	<div class="row min-vh-100">

		<div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">
			<div class="w-100 py-5 px-md-5 px-xl-6 position-relative">
				<div class="mb-4">
					<h2>Sign up</h2>
<!--					<p class="text-muted">His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table.</p>-->
				</div>

				<form class="form-validate" method="post">
                {% csrf_token %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}

					<div class="form-group">
						<label class="form-label" for="email"> Email Address</label>
						<input class="form-control" name="email" id="email"
                               type="email" placeholder="name@address.com" autocomplete="off" required data-msg="Please enter your email">
					</div>
					<div class="form-group">
						<label class="form-label" for="username"> Username</label>
						<input class="form-control" name="username" id="username"
                               placeholder="Username" autocomplete="off" required
                               data-msg="Please enter your username">
					</div>
					<div class="form-group">
						<label class="form-label" for="password1"> Password</label>
						<input class="form-control" name="password1" id="password1"
                               placeholder="Password" type="password" required data-msg="Please enter your password">
					</div>
					<div class="form-group mb-4">
						<label class="form-label" for="password2"> Confirm your
                            password</label>
						<input class="form-control" name="password2" id="password2"
                               placeholder="Password" type="password" required
                               data-msg="Please confirm your password">
					</div>
					<button class="btn btn-lg btn-block btn-primary" type="submit">Sign up</button>
<!--					<hr class="my-3 hr-text letter-spacing-2" data-content="OR">-->
<!--					<button class="btn btn btn-outline-primary btn-block btn-social mb-3"><i class="fa-2x fa-facebook-f fab btn-social-icon"> </i>Connect <span class="d-none d-sm-inline">with Facebook</span></button>-->
<!--					<button class="btn btn btn-outline-muted btn-block btn-social mb-3"><i class="fa-2x fa-google fab btn-social-icon"> </i>Connect <span class="d-none d-sm-inline">with Google</span></button>-->
					<hr class="my-4">
					<p class="text-sm text-muted">By signing up you agree to Dine Safe.ly's <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>.</p>
					<p class="text-sm text-muted">Already have an account? <a href="{% url 'user:login' %}">Sign In</a>.</p>
					<p class="text-sm text-muted">Don't feel like signing up yet? <a href="{% url 'index' %}">Exit</a>.</p>
				</form>
			</div>
		</div>
		<div class="col-md-4 col-lg-6 col-xl-7 d-none d-md-block">
			<!-- Image-->
			<div class="bg-cover h-100 mr-n3" style="background-image: url(https://i1.wp.com/trendland.com/wp-content/uploads/2015/08/Vanessa_Rees_Protein_Nija-5.jpg);"></div>
		</div>
	</div>
</div>
</div>

{% endblock %}