{% extends 'base-static.html' %} {% load static %} {% block content %}

<body>
<div class="container-fluid px-3">
    <div class="row min-vh-100">
        <div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">
            <div class="w-100 py-5 px-md-5 px-xl-6 position-relative">
                <p class="lead mb-5" style="font-size: xx-large; text-align: center;">
                    We have sent further instructions to your email id. Please follow the steps for resetting your password.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-lg-6 col-xl-7 d-none d-md-block">
            <!-- Image-->
            <div class="bg-cover h-100 mr-n3" style="background-image: url(https://d19m59y37dris4.cloudfront.net/directory/1-6/img/photo/photo-1497436072909-60f360e1d4b1.jpg);"></div>
        </div>
    </div>
</div>
{% endblock %}