{% extends 'base.html' %} {% load static %} {% block content %}
<section class="py-5">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb pl-0  justify-content-start">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active">Update Password   </li>
        </ol>
        <h1 class="hero-heading mb-0">Login &amp; security</h1>
        <p class="text-muted mb-5">Manage your Login & security and settings here.</p>
        <div class="row">
            <div class="col-lg-7">
                <div class="text-block">
                    <h3 class="mb-4">Login</h3>
                    <div class="row">
                        <div class="col-sm-8">
                            <h6>Password</h6>
<!--                            <p class="text-sm text-muted">Last updated 3 years ago</p>-->
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-link pl-0 text-primary collapsed" type="button" data-toggle="collapse" data-target="#updatePassword" aria-expanded="false" aria-controls="updatePassword">Update</button>
                        </div>
                    </div>
                    <form class="form-validate" method="post">
                        <div class="collapse" id="updatePassword">
                            <div class="row mt-4">
                                {% csrf_token %}
                                {% if form.errors %}
                                {% for field in form %}
                                {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endif %}
                                <div class="form-group col-12">
                                    <label class="form-label" for="password_current">Current Password</label>
                                    <input class="form-control" type="password" name="password_current" id="password_current">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="password_new">New Password</label>
                                    <input class="form-control" type="password" name="password_new" id="password_new">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="password_confirm">Confirm Password</label>
                                    <input class="form-control" type="password" name="password_confirm" id="password_confirm">
                                </div>
                            </div>
                            <button class="btn btn-outline-primary">Update Password</button>
                        </div>
                    </form>
                </div>
                <div class="text-block">
                    <h3 class="mb-4">Social accounts</h3>
                    <div class="row">
                        <div class="col-sm-8">
                            <h6>Facebook</h6>
                            <p class="text-sm text-muted">Not connected</p>
                        </div>
                        <div class="col text-right"><a class="btn btn-text text-primary pl-0" href="#">Connect</a></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <h6>Google</h6>
                            <p class="text-sm text-muted">Not connected</p>
                        </div>
                        <div class="col text-right"><a class="btn btn-text text-primary pl-0" href="#">Disconnect</a></div>
                    </div>
                </div>
<!--                <div class="text-block mb-5 mb-lg-0">-->
<!--                    <h3 class="mb-4">Device history</h3>-->
<!--                    <div class="media">-->
<!--                        <div class="icon-rounded bg-secondary-light">-->
<!--                            <svg class="svg-icon text-secondary w-2rem h-2rem">-->
<!--                                <use xlink:href="#imac-screen-1"> </use>-->
<!--                            </svg>-->
<!--                        </div>-->
<!--                        <div class="media-body pt-2 ml-3"><strong>Windows 10.0 </strong>· Chrome-->
<!--                            <div class="badge badge-secondary-light text-uppercase">Current  Session</div>-->
<!--                            <p class="text-sm text-muted">New York</p><a class="btn btn-text text-primary pl-0" href="#">Log out device</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="col-md-6 col-lg-4 ml-lg-auto">
                <div class="card border-0 shadow">
                    <div class="card-header bg-primary-light py-4 border-0">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <h4 class="h6 subtitle text-sm text-primary">Let's make your account more secure</h4>
                            </div>
                            <svg class="svg-icon svg-icon svg-icon-light w-3rem h-3rem ml-3 text-primary">
                                <use xlink:href="#shield-security-1"> </use>
                            </svg>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <h6 class="card-text">Your account security: </h6>
                        <p class="card-text mb-4"><span class="badge badge-info-light">Medium</span></p>
                        <p class="text-muted card-text">We’re always working on ways to increase safety in our community. </p>
                        <p class="text-muted card-text">That’s why we look at every account to make sure it’s as secure as possible.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}