{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dine.ly</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Price Slider Stylesheets -->
    <link rel="stylesheet" href="{% static 'vendor/nouislider/nouislider.css' %}">
    <!-- Google fonts - Playfair Display-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700">
    <!-- Google fonts - Poppins-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700">
    <!-- swiper-->
    <link rel="stylesheet" href="{% static 'ajax\libs\Swiper\4.4.1\css/swiper.min.css' %}">
    <!-- Magnigic Popup-->
    <link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.css' %}">
    <!-- Leaflet Maps-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/><!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.default.452e11c7.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.0a822280.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <!-- Font Awesome CSS-->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/all.css' %}" crossorigin="anonymous"> </head>

<body>
 {% block content %}

 {% endblock %}

 <!-- JavaScript files-->
 <!-- jQuery-->
 <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
 <!-- Bootstrap JS bundle - Bootstrap + PopperJS-->
 <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 <!-- Magnific Popup - Lightbox for the gallery-->
 <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
 <!-- Smooth scroll-->
 <script src="{% static 'vendor/smooth-scroll/smooth-scroll.polyfills.min.js' %}"></script>
 <!-- Bootstrap Select-->
 <script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
 <!-- Object Fit Images - Fallback for browsers that don't support object-fit-->
 <script src="{% static 'vendor/object-fit-images/ofi.min.js' %}"></script>
 <!-- Swiper Carousel                       -->
 <script src="{% static 'ajax/libs/Swiper/4.4.1/js/swiper.min.js' %}"></script>
 <script src="{% static 'vendor/jquery.cookie/jquery.cookie.js' %}">
 </script>
 <script src="{% static 'js/demo.36f8799a.js' %}"></script>

 <!-- Main Theme JS file    -->
 <script src="{% static 'js/theme.55f8348b.js' %}"></script>
 <!-- Map-->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
         integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
         crossorigin=""></script>
 <!-- Available tile layers-->
 <script src="{% static 'js/map-layers.f6cf9b57.js' %}">
 </script>
 <script src="{% static 'js/map-detail.ecc97be1.js' %}"></script>
</body>

</html>