{% extends 'base.html' %} {% load static %} {% block content %}
<section class="d-flex align-items-center dark-overlay bg-cover" style="background-image: url(https://d19m59y37dris4.cloudfront.net/directory/1-6/img/photo/photo-1525610553991-2bede1a236e2.jpg);">
    <div class="container py-6 py-lg-7 text-white overlay-content text-center">
        <div class="row">
            <div class="col-xl-10 mx-auto">
                <h1 class="display-3 font-weight-bold text-shadow">Dine Safe.ly</h1>
                <p class="text-lg text-shadow">Uncover safe places to eat and drink
                    nearest to you.</p>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="search-bar rounded p-3 p-lg-4 position-relative mt-n5 z-index-20">
        <form action="#">
            <div class="row">
                <div class="col-lg-4 d-flex align-items-center form-group">
                    <input class="form-control border-0 shadow-0" type="search" name="search" placeholder="What are you searching for?">
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-center form-group">
                    <div class="input-label-absolute input-label-absolute-right w-100">
                        <label class="label-absolute" for="location"><i class="fa fa-crosshairs"></i>
                            <div class="sr-only">City</div>
                        </label>
                        <input class="form-control border-0 shadow-0" type="text" name="location" placeholder="Location" id="location">
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-center form-group no-divider">
                    <select class="selectpicker" title="Categories" data-style="btn-form-control">
                        <option value="small">Restaurants</option>
                        <option value="medium">Cafes</option>
                        <option value="large">Bars</option>
                        <option value="x-large">Food Stalls</option>
                    </select>
                </div>
                <div class="col-lg-2 form-group mb-0">
                    <button class="btn btn-primary btn-block h-100" type="submit">Search </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Our picks section-->
<!--<section class="py-6">-->
<!--    <div class="container">-->
<!--        <div class="row mb-5">-->
<!--            <div class="col-md-8">-->
<!--                <p class="subtitle text-primary">Latest Compliant Restaurants</p>-->
<!--                <h2>What's New?</h2>-->
<!--            </div>-->
<!--            <div class="col-md-4 d-md-flex align-items-center justify-content-end"><a class="text-muted text-sm" href="category.html">-->
<!--                See all restaurants<i class="fas fa-angle-double-right-->
<!--                ml-2"></i></a></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="d-flex align-items-lg-stretch mb-4 col-lg-8">-->
<!--                <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(https://d19m59y37dris4.cloudfront.net/directory/1-6/img/photo/photo-1449034446853-66c86144b0ad.jpg) no-repeat; background-size: cover;"><a class="tile-link" href="category.html"> </a>-->
<!--                    <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">-->
<!--                        <h3 class="text-shadow text-uppercase mb-0">San Francisco</h3>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">-->
<!--                <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(https://d19m59y37dris4.cloudfront.net/directory/1-6/img/photo/photo-1429554429301-1c7d5ae2d42e.jpg) no-repeat; background-size: cover;"><a class="tile-link" href="category.html"> </a>-->
<!--                    <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">-->
<!--                        <h3 class="text-shadow text-uppercase mb-0">Los Angeles</h3>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">-->
<!--                <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(https://d19m59y37dris4.cloudfront.net/directory/1-6/img/photo/photo-1523430410476-0185cb1f6ff9.jpg) no-repeat; background-size: cover;"><a class="tile-link" href="category.html"> </a>-->
<!--                    <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">-->
<!--                        <h3 class="text-shadow text-uppercase mb-0">Santa Monica</h3>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">-->
<!--                <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(https://d19m59y37dris4.cloudfront.net/directory/1-6/img/photo/photo-1505245208761-ba872912fac0.jpg) no-repeat; background-size: cover;"><a class="tile-link" href="category.html"> </a>-->
<!--                    <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">-->
<!--                        <h3 class="text-shadow text-uppercase mb-0">San Diego</h3>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">-->
<!--                <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(https://d19m59y37dris4.cloudfront.net/directory/1-6/img/photo/photo-1519867850-74775a87e783.jpg) no-repeat; background-size: cover;"><a class="tile-link" href="category.html"> </a>-->
<!--                    <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">-->
<!--                        <h3 class="text-shadow text-uppercase mb-0">Fresno</h3>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<section class="py-6 bg-gray-100">
    <div class="container">
        <div class="text-center pb-lg-4">
            <p class="subtitle text-secondary">What's new?</p>
            <h2 class="mb-5">Latest compliant restaurants</h2>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Slider main container-->
        <div class="swiper-container swiper-container-mx-negative items-slider-full px-lg-5 pt-3">
            <!-- Additional required wrapper-->
            <div id="res_list_group" class="swiper-wrapper pb-5">
                <!-- Slides-->


            </div>
            <!-- If we need pagination-->
            <div class="swiper-pagination"></div>
        </div>
        <div class="text-center mt-5"><a class="btn btn-outline-primary" href="{% url 'restaurant:browse' %}">See all restaurants</a></div>
    </div>
</section>
<section class="pt-4 pb-6">
    <div class="container">
        <div class="pb-lg-4">
            <p class="subtitle text-secondary">NYC Restaurant Reopening Guidelines</p>
            <h2 class="mb-5">What does compliance mean for restaurants?</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                <div class="px-0 pr-lg-3">
                    <div class="icon-rounded mb-3 bg-secondary-light">
                        <svg class="svg-icon w-2rem h-2rem text-secondary">
                            <use xlink:href="#love-pin-1"> </use>
                        </svg>
                    </div>
                    <h3 class="h6 text-uppercase">Phase 4</h3>
                    <p class="text-muted text-sm">We are now in Phase 4 of reopening,
                        which means NYC restaurants and bars have reopened to allow take-out, delivery, outdoor, and now indoor dining.
                        <br> <br>
                    <a href="https://www1.nyc.gov/html/dot/html/pedestrians/openrestaurants.shtml">Get the latest updates here</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                <div class="px-0 pr-lg-3">
                    <div class="icon-rounded mb-3 bg-primary-light">
                        <svg class="svg-icon w-2rem h-2rem text-primary">
                            <use xlink:href="#partly-cloudy-1"></use>
                        </svg>
                    </div>
                    <h3 class="h6 text-uppercase">Outdoor Seating</h3>
                    <p class="text-muted text-sm"> Mandatory guidelines:
                        <li class="text-muted text-sm">Diners must be seated at least
                    6 ft from any other table, patrons, or walkway. </li>
                        <li class="text-muted text-sm">Employees must wear face
                            coverings at all times.</li>
                        <li class="text-muted text-sm">Provide hand hygiene stations
                            or hand sanitizer containing +60% alcohol concentration.</li>
                        <li class="text-muted text-sm">No more than 10 persons per
                            outdoor table.</li>

                    <br>
                    <a href="https://www.governor.ny.gov/sites/governor.ny.gov/files/atoms/files/OutdoorTakeoutDeliveryFoodServicesSummaryGuidance.pdf">For more information</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                <div class="px-0 pr-lg-3">
                    <div class="icon-rounded mb-3 bg-secondary-light">
                        <svg class="svg-icon w-2rem h-2rem text-secondary">
                            <use xlink:href="#food-1"> </use>
                        </svg>
                    </div>
                    <h3 class="h6 text-uppercase">Indoor Dining</h3>
                    <p class="text-muted text-sm"> Same rules, including:
                    <li class="text-muted text-sm">Establishment must check temperature of each diner.</li>
                    <li class="text-muted text-sm">Establishment must conduct
                        health screening of at least 1 member per party.</li>
                    <li class="text-muted text-sm">Indoor capacity must not exceed 25% maximum occupancy.</li>
                    <li class="text-muted text-sm">No bar seating or service.</li>
                    <li class="text-muted text-sm">Air filtration system must be MERV-13 equivalent or greater.</li>
                    <br>
                    <a href="https://www.governor.ny.gov/sites/governor.ny.gov/files/atoms/files/NYC_Indoor_Food_Services_Summary_Guidelines.pdf">For more information</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                <div class="px-0 pr-lg-3">
                    <div class="icon-rounded mb-3 bg-primary-light">
                        <svg class="svg-icon w-2rem h-2rem text-primary">
                            <use xlink:href="#pay-1"> </use>
                        </svg>
                    </div>
                    <h3 class="h6 text-uppercase">Safety first</h3>
                    <p class="text-muted text-sm">Most importantly, your safety
                        comes first!
                        <li class="text-muted text-sm">Stay home if sick.</li>
                    <li class="text-muted text-sm">Maintain social distancing.</li>
                    <li class="text-muted text-sm">Wear a face covering.</li>
                    <li class="text-muted text-sm">Practice healthy hand hygiene.</li>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Divider Section-->
<!--<section class="py-6 py-lg-7 position-relative dark-overlay"><img class="bg-image" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/photo/photo-1507915135761-41a0a222c709.jpg" alt="">-->
<!--    <div class="container">-->
<!--        <div class="overlay-content text-white py-lg-5 text-center">-->
<!--            <p class="subtitle text-white letter-spacing-4 mb-4">Find the best spots</p>-->
<!--            <h3 class="display-3 font-weight-bold text-serif text-shadow mb-5">Travel & Explore</h3>-->
<!--            <p class="lead text-shadow mb-5">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections</p><a class="btn btn-primary" href="category-rooms.html">Get started</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- Brands Section-->
<!--<section class="py-6">-->
<!--    <div class="container">-->
<!--        <h5 class="text-center text-uppercase letter-spacing-3 mb-5">Our brands</h5>-->
<!--        &lt;!&ndash; Brands Slider&ndash;&gt;-->
<!--        <div class="swiper-container brands-slider">-->
<!--            <div class="swiper-wrapper pb-5">-->
<!--                &lt;!&ndash; item&ndash;&gt;-->
<!--                <div class="swiper-slide h-auto d-flex align-items-center justify-content-center"><img class="img-fluid w-6rem opacity-7" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/brand/brand-1.svg" alt="Brand 1"></div>-->
<!--                &lt;!&ndash; item&ndash;&gt;-->
<!--                <div class="swiper-slide h-auto d-flex align-items-center justify-content-center"><img class="img-fluid w-6rem opacity-7" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/brand/brand-2.svg" alt="Brand 2"></div>-->
<!--                &lt;!&ndash; item&ndash;&gt;-->
<!--                <div class="swiper-slide h-auto d-flex align-items-center justify-content-center"><img class="img-fluid w-6rem opacity-7" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/brand/brand-3.svg" alt="Brand 3"></div>-->
<!--                &lt;!&ndash; item&ndash;&gt;-->
<!--                <div class="swiper-slide h-auto d-flex align-items-center justify-content-center"><img class="img-fluid w-6rem opacity-7" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/brand/brand-4.svg" alt="Brand 4"></div>-->
<!--                &lt;!&ndash; item&ndash;&gt;-->
<!--                <div class="swiper-slide h-auto d-flex align-items-center justify-content-center"><img class="img-fluid w-6rem opacity-7" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/brand/brand-5.svg" alt="Brand 5"></div>-->
<!--                &lt;!&ndash; item&ndash;&gt;-->
<!--                <div class="swiper-slide h-auto d-flex align-items-center justify-content-center"><img class="img-fluid w-6rem opacity-7" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/brand/brand-6.svg" alt="Brand 6"></div>-->
<!--                &lt;!&ndash; item&ndash;&gt;-->
<!--                <div class="swiper-slide h-auto d-flex align-items-center justify-content-center"><img class="img-fluid w-6rem opacity-7" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/brand/brand-1.svg" alt="Brand 1"></div>-->
<!--                &lt;!&ndash; item&ndash;&gt;-->
<!--                <div class="swiper-slide h-auto d-flex align-items-center justify-content-center"><img class="img-fluid w-6rem opacity-7" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/brand/brand-2.svg" alt="Brand 2"></div>-->
<!--                &lt;!&ndash; item&ndash;&gt;-->
<!--                <div class="swiper-slide h-auto d-flex align-items-center justify-content-center"><img class="img-fluid w-6rem opacity-7" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/brand/brand-3.svg" alt="Brand 3"></div>-->
<!--                &lt;!&ndash; item&ndash;&gt;-->
<!--                <div class="swiper-slide h-auto d-flex align-items-center justify-content-center"><img class="img-fluid w-6rem opacity-7" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/brand/brand-4.svg" alt="Brand 4"></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- Divider Section-->

<section class="py-6 bg-gray-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0 text-center text-lg-left">
                <p class="subtitle text-secondary">Start using Dine Safe.ly</p>
                <p class="text-lg">Dine Safe.ly is the easiest way to find & discover COVID compliant restaurants.</p>
<!--                <p class="text-muted mb-0">One morning, when Alex woke from troubled dreams, he had this amazing idea of Dine Safely..</p>-->
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div class="text-center">
                    {% if user.is_authenticated %}
                    <p class="mb-2"><a class="btn btn-lg btn-primary" href="{% url 'restaurant:browse' %}">See Compliant Restaurants</a></p>
                    {% else %}
                    <p class="mb-2"><a class="btn btn-lg btn-primary" href="{% url 'user:register' %}">Create Your Account</a></p>
                    <p class="text-muted text-small">It's free!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>


<!--&lt;!&ndash; Instagram&ndash;&gt;-->
<!--<section>-->
<!--    <div class="container-fluid px-0">-->
<!--        <div class="swiper-container instagram-slider">-->
<!--            <div class="swiper-wrapper">-->
<!--                <div class="swiper-slide overflow-hidden"><a href="#"><img class="img-fluid hover-scale" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/instagram/instagram-1.jpg" alt=" "></a></div>-->
<!--                <div class="swiper-slide overflow-hidden"><a href="#"><img class="img-fluid hover-scale" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/instagram/instagram-2.jpg" alt=" "></a></div>-->
<!--                <div class="swiper-slide overflow-hidden"><a href="#"><img class="img-fluid hover-scale" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/instagram/instagram-3.jpg" alt=" "></a></div>-->
<!--                <div class="swiper-slide overflow-hidden"><a href="#"><img class="img-fluid hover-scale" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/instagram/instagram-4.jpg" alt=" "></a></div>-->
<!--                <div class="swiper-slide overflow-hidden"><a href="#"><img class="img-fluid hover-scale" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/instagram/instagram-5.jpg" alt=" "></a></div>-->
<!--                <div class="swiper-slide overflow-hidden"><a href="#"><img class="img-fluid hover-scale" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/instagram/instagram-6.jpg" alt=" "></a></div>-->
<!--                <div class="swiper-slide overflow-hidden"><a href="#"><img class="img-fluid hover-scale" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/instagram/instagram-7.jpg" alt=" "></a></div>-->
<!--                <div class="swiper-slide overflow-hidden"><a href="#"><img class="img-fluid hover-scale" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/instagram/instagram-8.jpg" alt=" "></a></div>-->
<!--                <div class="swiper-slide overflow-hidden"><a href="#"><img class="img-fluid hover-scale" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/instagram/instagram-9.jpg" alt=" "></a></div>-->
<!--                <div class="swiper-slide overflow-hidden"><a href="#"><img class="img-fluid hover-scale" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/instagram/instagram-10.jpg" alt=" "></a></div>-->
<!--                <div class="swiper-slide overflow-hidden"><a href="#"><img class="img-fluid hover-scale" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/instagram/instagram-11.jpg" alt=" "></a></div>-->
<!--                <div class="swiper-slide overflow-hidden"><a href="#"><img class="img-fluid hover-scale" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/instagram/instagram-12.jpg" alt=" "></a></div>-->
<!--                <div class="swiper-slide overflow-hidden"><a href="#"><img class="img-fluid hover-scale" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/instagram/instagram-13.jpg" alt=" "></a></div>-->
<!--                <div class="swiper-slide overflow-hidden"><a href="#"><img class="img-fluid hover-scale" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/instagram/instagram-14.jpg" alt=" "></a></div>-->
<!--                <div class="swiper-slide overflow-hidden"><a href="#"><img class="img-fluid hover-scale" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/instagram/instagram-10.jpg" alt=" "></a></div>-->
<!--                <div class="swiper-slide overflow-hidden"><a href="#"><img class="img-fluid hover-scale" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/instagram/instagram-11.jpg" alt=" "></a></div>-->
<!--                <div class="swiper-slide overflow-hidden"><a href="#"><img class="img-fluid hover-scale" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/instagram/instagram-12.jpg" alt=" "></a></div>-->
<!--                <div class="swiper-slide overflow-hidden"><a href="#"><img class="img-fluid hover-scale" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/instagram/instagram-13.jpg" alt=" "></a></div>-->
<!--                <div class="swiper-slide overflow-hidden"><a href="#"><img class="img-fluid hover-scale" src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/instagram/instagram-14.jpg" alt=" "></a></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<script type="text/javascript">

var restaurant_list = {{restaurant_list | safe}};
	for(var i = 0; i < 12; i++)
	{
			if(restaurant_list[i].yelp_info == null) {continue;}

			var res_list_group = document.getElementById("res_list_group");

			var div1 = document.createElement("div");
			div1.className = "swiper-slide h-auto px-2";

			var div2 = document.createElement("div");
			div2.className = "w-100 h-80 hover-animate";

			var div3 = document.createElement("div");
			div3.className = "card h-100 border-0 shadow";

			var div4 = document.createElement("div");
			div4.className = "card-img-top overflow-hidden dark-overlay bg-cover";
			div4.id = "res_card_img"+ i.toString();
			div4.style = "min-height: 200px";

			var a1 = document.createElement("a");
			a1.className = "title-link";
			a1.href = restaurant_list[i].yelp_info.url;

			var div5 = document.createElement("div");
			div5.className = "card-img-overlay-bottom z-index-20";

			var h4 = document.createElement("h4");
			h4.className ="text-white text-shadow";
			h4.innerHTML = restaurant_list[i].yelp_info.name;

			var p = document.createElement("p");
			p.id = "res_rating";
			p.className = "mb-2 text-xs";

			var rate = restaurant_list[i].yelp_info.rating;
				for (var j = 0; j < Math.ceil(rate); j++) {
				    var icon = document.createElement("i");
				    icon.className = "fa fa-star text-warning";
				    p.appendChild(icon);
				}
				for (var j = 0; j < 5 - Math.ceil(rate); j++) {
				    var icon2 = document.createElement("i");
				    icon2.className = "fa fa-star text-gray-300";
				    p.appendChild(icon2);
				}

			div5.appendChild(h4);
			div5.appendChild(p);



			div4.appendChild(a1);
			div4.appendChild(div5);
			//div4.appendChild(div_svg);

			var div6 = document.createElement("div");
			div6.className = "card-body";

			var p_1 = document.createElement("p");
			p_1.className = "text-sm text-muted text-uppercase mb-1";

			var a2 = document.createElement("a");
			a2.className = "text-dark";
			a2.href = restaurant_list[i].yelp_info.url;
			a2.innerHTML = "Compliant";

			p_1.appendChild(a2);

			var p_2 = document.createElement("p");
			p_2.id = "res_category";
			p_2.className = "text-sm mb-0";

			var a3 = document.createElement("a");
			a3.className = "mr-1 disabled";
			for (var p = 0; p < restaurant_list[i].yelp_info.categories.length; p++) {
		    	a3.innerHTML += restaurant_list[i].yelp_info.categories[p].title + "&nbsp&nbsp";
				}

			p_2.appendChild(a3);

			div6.appendChild(p_1);
			div6.appendChild(p_2);

			div3.appendChild(div4);
			div3.appendChild(div6);

			div2.appendChild(div3);

			div1.appendChild(div2);

			res_list_group.appendChild(div1);
			document.getElementById("res_card_img"+ i.toString()).style.backgroundImage = "url(" + restaurant_list[i].yelp_info.image_url + ")";
        }


</script>

</script>
{% endblock %}