{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header class="header">
      <!-- Navbar-->
<!--      <nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-white">-->
<!--        <div class="container-fluid">-->
<!--          <div class="d-flex align-items-center"><a class="navbar-brand py-1" href="index-2.html"><img src="https://d19m59y37dris4.cloudfront.net/directory/1-6/img/logo.svg" alt="Directory logo"></a>-->
<!--            <form class="form-inline d-none d-sm-flex" action="#" id="search">-->
<!--              <div class="input-label-absolute input-label-absolute-left input-reset input-expand ml-lg-2 ml-xl-3"> -->
<!--                <label class="label-absolute" for="search_search"><i class="fa fa-search"></i><span class="sr-only">What are you looking for?</span></label>-->
<!--                <input class="form-control form-control-sm border-0 shadow-0 bg-gray-200" id="search_search" placeholder="Search" aria-label="Search">-->
<!--                <button class="btn btn-reset btn-sm" type="reset"><i class="fa-times fas"></i></button>-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->
<!--          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>-->
<!--          &lt;!&ndash; Navbar Collapse &ndash;&gt;-->
<!--          <div class="collapse navbar-collapse" id="navbarCollapse">-->
<!--            <form class="form-inline mt-4 mb-2 d-sm-none" action="#" id="searchcollapsed">-->
<!--              <div class="input-label-absolute input-label-absolute-left input-reset w-100">-->
<!--                <label class="label-absolute" for="searchcollapsed_search"><i class="fa fa-search"></i><span class="sr-only">What are you looking for?</span></label>-->
<!--                <input class="form-control form-control-sm border-0 shadow-0 bg-gray-200" id="searchcollapsed_search" placeholder="Search" aria-label="Search">-->
<!--                <button class="btn btn-reset btn-sm" type="reset"><i class="fa-times fas">           </i></button>-->
<!--              </div>-->
<!--            </form>-->
<!--            <ul class="navbar-nav ml-auto">-->
<!--              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle " id="homeDropdownMenuLink" href="index-2.html" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                   Home</a>-->
<!--                <div class="dropdown-menu" aria-labelledby="homeDropdownMenuLink"><a class="dropdown-item" href="index-2.html">Rooms</a><a class="dropdown-item" href="index-3.html">Restaurants</a><a class="dropdown-item" href="index-4.html">Travel</a><a class="dropdown-item" href="index-5.html">Real Estate <span class="badge badge-info-light ml-1 mt-n1">New</span></a></div>-->
<!--              </li>-->
<!--              &lt;!&ndash; Megamenu&ndash;&gt;-->
<!--              <li class="nav-item dropdown position-static"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Template</a>-->
<!--                <div class="dropdown-menu megamenu py-lg-0">-->
<!--                  <div class="row">-->
<!--                    <div class="col-lg-9">-->
<!--                      <div class="row p-3 pr-lg-0 pl-lg-5 pt-lg-5">-->
<!--                        <div class="col-lg-3">-->
<!--                          &lt;!&ndash; Megamenu list&ndash;&gt;-->
<!--                          <h6 class="text-uppercase">Homepage</h6>-->
<!--                          <ul class="megamenu-list list-unstyled">-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="index-2.html">Rooms   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="index-3.html">Restaurants   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="index-4.html">Travel   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="index-5.html">Real estate <span class="badge badge-info-light ml-1">New</span>   </a></li>-->
<!--                          </ul>-->
<!--                          &lt;!&ndash; Megamenu list&ndash;&gt;-->
<!--                          <h6 class="text-uppercase">Restaurants</h6>-->
<!--                          <ul class="megamenu-list list-unstyled">-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="category.html">Category - Map on the top   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="category-2.html">Category - Map on the right   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="category-3.html">Category - no map   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="detail.html">Restaurant detail   </a></li>-->
<!--                          </ul>-->
<!--                        </div>-->
<!--                        <div class="col-lg-3">-->
<!--                          &lt;!&ndash; Megamenu list&ndash;&gt;-->
<!--                          <h6 class="text-uppercase">Rooms</h6>-->
<!--                          <ul class="megamenu-list list-unstyled">-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="category-rooms.html">Category - Map on the top   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="category-2-rooms.html">Category - Map on the right   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="category-3-rooms.html">Category - no map   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="detail-rooms.html">Room detail   </a></li>-->
<!--                          </ul>-->
<!--                          &lt;!&ndash; Megamenu list&ndash;&gt;-->
<!--                          <h6 class="text-uppercase">Blog</h6>-->
<!--                          <ul class="megamenu-list list-unstyled">-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="blog.html">Blog   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="post.html">Post   </a></li>-->
<!--                          </ul>-->
<!--                          &lt;!&ndash; Megamenu list&ndash;&gt;-->
<!--                          <h6 class="text-uppercase">Pages</h6>-->
<!--                          <ul class="megamenu-list list-unstyled">-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="compare.html">Comparison   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="team.html">Team   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="contact.html">Contact   </a></li>-->
<!--                          </ul>-->
<!--                        </div>-->
<!--                        <div class="col-lg-3">-->
<!--                          &lt;!&ndash; Megamenu list&ndash;&gt;-->
<!--                          <h6 class="text-uppercase">Pages</h6>-->
<!--                          <ul class="megamenu-list list-unstyled">-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="pricing.html">Pricing   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="text.html">Text page   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="faq.html">F.A.Q.s   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="coming-soon.html">Coming soon   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="404.html">404 page   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="knowledge-base.html">Knowledge Base  <span class="badge badge-info-light ml-1">New</span>   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="knowledge-base-topic.html">Knowledge Base  &mdash; Topic<span class="badge badge-info-light ml-1">New</span>   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="terms.html">Terms & Conditions  <span class="badge badge-info-light ml-1">New</span>   </a></li>-->
<!--                          </ul>-->
<!--                          &lt;!&ndash; Megamenu list&ndash;&gt;-->
<!--                          <h6 class="text-uppercase">Host</h6>-->
<!--                          <ul class="megamenu-list list-unstyled">-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="user-add-0.html">Add new listing - 6 pages   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="user-list.html">Bookings &mdash; list view   </a></li>-->
<!--                          </ul>-->
<!--                        </div>-->
<!--                        <div class="col-lg-3">-->
<!--                          &lt;!&ndash; Megamenu list&ndash;&gt;-->
<!--                          <h6 class="text-uppercase">User</h6>-->
<!--                          <ul class="megamenu-list list-unstyled">-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="user-profile.html">Profile   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="user-account.html">Account   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="user-personal.html">Personal info - forms   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="user-security.html">Password & security - forms   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="login.html">Sign in   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="signup.html">Sign up   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="user-booking-1.html">Booking process - 4 pages   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="user-grid.html">Bookings &mdash; grid view   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="user-booking-detail.html">Booking detail   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="user-invoice.html">Invoice  <span class="badge badge-info-light ml-1">New</span>   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="user-messages.html">Messages <span class="badge badge-info-light ml-1">New</span>   </a></li>-->
<!--                            <li class="megamenu-list-item"><a class="megamenu-list-link" href="user-messages-detail.html">Message Detail  <span class="badge badge-info-light ml-1">New</span>   </a></li>-->
<!--                          </ul>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="row megamenu-services d-none d-lg-flex pl-lg-5">-->
<!--                        <div class="col-xl-3 col-lg-6 d-flex">-->
<!--                          <div class="megamenu-services-item">-->
<!--                            <svg class="svg-icon megamenu-services-icon">-->
<!--                              <use xlink:href="#destination-map-1"> </use>-->
<!--                            </svg>-->
<!--                            <div>-->
<!--                              <h6 class="text-uppercase">Best rentals</h6>-->
<!--                              <p class="mb-0 text-muted text-sm">Find the perfect place</p>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="col-xl-3 col-lg-6 d-flex">-->
<!--                          <div class="megamenu-services-item">-->
<!--                            <svg class="svg-icon megamenu-services-icon">-->
<!--                              <use xlink:href="#money-box-1"> </use>-->
<!--                            </svg>-->
<!--                            <div>-->
<!--                              <h6 class="text-uppercase">Earn points</h6>-->
<!--                              <p class="mb-0 text-muted text-sm">And get great rewards</p>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="col-xl-3 col-lg-6 d-flex">-->
<!--                          <div class="megamenu-services-item">-->
<!--                            <svg class="svg-icon megamenu-services-icon">-->
<!--                              <use xlink:href="#customer-support-1"> </use>-->
<!--                            </svg>-->
<!--                            <div>-->
<!--                              <h6 class="text-uppercase">020-800-456-747</h6>-->
<!--                              <p class="mb-0 text-muted text-sm">24/7 Available Support</p>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="col-xl-3 col-lg-6 d-flex">-->
<!--                          <div class="megamenu-services-item">-->
<!--                            <svg class="svg-icon megamenu-services-icon">-->
<!--                              <use xlink:href="#secure-payment-1"> </use>-->
<!--                            </svg>-->
<!--                            <div>-->
<!--                              <h6 class="text-uppercase">Secure Payment</h6>-->
<!--                              <p class="mb-0 text-muted text-sm">Secure Payment</p>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 d-none d-lg-block"><img class="bg-image" src="../../../d19m59y37dris4.cloudfront.net/directory/1-6/img/photo/photo-1521170665346-3f21e2291d8b.jpg" alt=""></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </li>-->
<!--              &lt;!&ndash; /Megamenu end&ndash;&gt;-->
<!--              <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a>-->
<!--              </li>-->
<!--              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle " id="docsDropdownMenuLink" href="index-2.html" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                   Docs</a>-->
<!--                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="docsDropdownMenuLink">-->
<!--                  <h6 class="dropdown-header font-weight-normal">Documentation</h6><a class="dropdown-item" href="docs/docs-introduction.html">Introduction </a><a class="dropdown-item" href="docs/docs-directory-structure.html">Directory structure </a><a class="dropdown-item" href="docs/docs-gulp.html">Gulp </a><a class="dropdown-item" href="docs/docs-customizing-css.html">Customizing CSS </a><a class="dropdown-item" href="docs/docs-credits.html">Credits </a><a class="dropdown-item" href="docs/docs-changelog.html">Changelog </a>-->
<!--                  <div class="dropdown-divider"></div>-->
<!--                  <h6 class="dropdown-header font-weight-normal">Components</h6><a class="dropdown-item" href="docs/components-bootstrap.html">Bootstrap </a><a class="dropdown-item" href="docs/components-directory.html">Theme </a>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li class="nav-item"><a class="nav-link" href="login.html">Sign in</a></li>-->
<!--              <li class="nav-item"><a class="nav-link" href="signup.html">Sign up</a></li>-->
<!--              <li class="nav-item mt-3 mt-lg-0 ml-lg-3 d-lg-none d-xl-inline-block"><a class="btn btn-primary" href="user-add-0.html">Add a listing</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </nav>-->
      <!-- /Navbar -->
      <!-- As a heading -->
    </header>
    <div class="container-fluid py-5 px-lg-5">
      <div class="row border-bottom mb-4">
        <div class="col-12">
          <h1 class="display-4 font-weight-bold text-serif mb-4">Dine Safely</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 pt-3">
          <form class="pr-xl-3" action="#">
            <div class="mb-4">
              <label class="form-label" for="form_search">Keyword</label>
              <div class="input-label-absolute input-label-absolute-right">
                <div class="label-absolute"><i class="fa fa-search"></i></div>
                <input class="form-control pr-4" type="search" name="search" placeholder="Keywords" id="form_search">
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label" for="form_neighbourhood">Neighbourhood</label>
              <select class="selectpicker form-control" name="neighbourhood" id="form_neighbourhood" multiple data-style="btn-selectpicker" data-live-search="true" data-selected-text-format="count &gt; 1" title="">
                <option value="neighbourhood_0">Battery Park City    </option>
                <option value="neighbourhood_1">Bowery    </option>
                <option value="neighbourhood_2">Carnegie Hill    </option>
                <option value="neighbourhood_3">Central Park    </option>
                <option value="neighbourhood_4">Chelsea    </option>
                <option value="neighbourhood_5">Chinatown    </option>
                <option value="neighbourhood_6">Civic Center    </option>
                <option value="neighbourhood_7">East Harlem    </option>
                <option value="neighbourhood_8">Financial District    </option>
                <option value="neighbourhood_9">Flatiron    </option>
                <option value="neighbourhood_10">Garment District    </option>
                <option value="neighbourhood_11">Gramercy Park    </option>
                <option value="neighbourhood_12">Greenwich Village    </option>
                <option value="neighbourhood_13">East Village    </option>
                <option value="neighbourhood_14">West Village    </option>
                <option value="neighbourhood_15">Hamilton Heights    </option>
                <option value="neighbourhood_16">Harlem    </option>
                <option value="neighbourhood_17">Hell's Kitchen / Clinton    </option>
                <option value="neighbourhood_18">Inwood    </option>
                <option value="neighbourhood_19">Kips Bay    </option>
                <option value="neighbourhood_20">Lenox Hill    </option>
                <option value="neighbourhood_21">Little Italy    </option>
                <option value="neighbourhood_22">Lower Eastside    </option>
                <option value="neighbourhood_23">Madison Square    </option>
                <option value="neighbourhood_24">Manhattan Valley    </option>
                <option value="neighbourhood_25">Meatpacking District    </option>
                <option value="neighbourhood_26">Midtown    </option>
                <option value="neighbourhood_27">Morningside Heights    </option>
                <option value="neighbourhood_28">Murray Hill    </option>
                <option value="neighbourhood_29">NoHo    </option>
                <option value="neighbourhood_30">NoLita    </option>
                <option value="neighbourhood_31">Roosevelt Island    </option>
                <option value="neighbourhood_32">SoHo    </option>
                <option value="neighbourhood_33">Stuyvesant Town (Stuyvesant Square)    </option>
                <option value="neighbourhood_34">Sutton Place    </option>
                <option value="neighbourhood_35">Times Square    </option>
                <option value="neighbourhood_36">Tribeca    </option>
                <option value="neighbourhood_37">Turtle Bay    </option>
                <option value="neighbourhood_38">Upper Eastside    </option>
                <option value="neighbourhood_39">Upper Westside    </option>
                <option value="neighbourhood_40">Washington Heights    </option>
                <option value="neighbourhood_41">Yorkville    </option>
              </select>
            </div>
            <div class="mb-4">
              <label class="form-label" for="form_category">Category</label>
              <select class="selectpicker form-control" name="category" id="form_category" multiple data-style="btn-selectpicker" data-selected-text-format="count &gt; 1" title="">
                <option value="category_0">Hipster    </option>
                <option value="category_1">Music club    </option>
                <option value="category_2">Bar    </option>
                <option value="category_3">Pub    </option>
                <option value="category_4">Deli    </option>
                <option value="category_5">Bistro    </option>
              </select>
            </div>
            <div class="mb-4">
              <label class="form-label">Tag</label>
              <ul class="list-unstyled mb-0">
                <li>
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="type_0" name="type[]">
                    <label class="custom-control-label" for="type_0">Hipster</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="type_1" name="type[]">
                    <label class="custom-control-label" for="type_1">Music club</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="type_2" name="type[]">
                    <label class="custom-control-label" for="type_2">Bar</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="type_3" name="type[]">
                    <label class="custom-control-label" for="type_3">Pub</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="type_4" name="type[]">
                    <label class="custom-control-label" for="type_4">Deli</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="type_5" name="type[]">
                    <label class="custom-control-label" for="type_5">Bistro</label>
                  </div>
                </li>
              </ul>
            </div>
            <div class="pb-4">
              <div class="collapse" id="moreFilters">
                <div class="mb-4">
                  <label class="form-label">Cuisine</label>
                  <ul class="list-unstyled mb-0">
                    <li>
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="cuisine_0" name="cuisine[]">
                        <label class="custom-control-label" for="cuisine_0">Fusion</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="cuisine_1" name="cuisine[]">
                        <label class="custom-control-label" for="cuisine_1">Indian</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="cuisine_2" name="cuisine[]">
                        <label class="custom-control-label" for="cuisine_2">French</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="cuisine_3" name="cuisine[]">
                        <label class="custom-control-label" for="cuisine_3">American</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="cuisine_4" name="cuisine[]">
                        <label class="custom-control-label" for="cuisine_4">Mexican</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="cuisine_5" name="cuisine[]">
                        <label class="custom-control-label" for="cuisine_5">Other</label>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="mb-4">
                  <label class="form-label">Price</label>
                  <div class="text-primary" id="slider-snap"></div>
                  <div class="nouislider-values">
                    <div class="min">From $<span id="slider-snap-value-from"></span></div>
                    <div class="max">To $<span id="slider-snap-value-to"></span></div>
                  </div>
                  <input type="hidden" name="pricefrom" id="slider-snap-input-from" value="40">
                  <input type="hidden" name="priceto" id="slider-snap-input-to" value="110">
                </div>
                <div class="mb-4">
                  <label class="form-label">Vegetarians</label>
                  <ul class="list-unstyled mb-0">
                    <li>
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" id="vegetarians_0" name="vegetarians">
                        <label class="custom-control-label" for="vegetarians_0">All</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" id="vegetarians_1" name="vegetarians">
                        <label class="custom-control-label" for="vegetarians_1">Vegetarian only</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="mb-4">
                <button class="btn btn-link btn-collapse pl-0 text-secondary" type="button" data-toggle="collapse" data-target="#moreFilters" aria-expanded="false" aria-controls="moreFilters" data-expanded-text="Less filters" data-collapsed-text="More filters">More filters</button>
              </div>
              <div class="mb-4">
                <button class="btn btn-primary" type="submit"> <i class="fas fa-filter mr-1"></i>Filter                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-9">
<!--          <div class="d-flex justify-content-between align-items-center flex-column flex-md-row mb-4">-->
<!--            <div class="mr-3">-->
<!--              <p class="mb-3 mb-md-0"><strong>12</strong> results found</p>-->
<!--            </div>-->
<!--            <div>-->
<!--              <label class="form-label mr-2" for="form_sort">Sort by</label>-->
<!--              <select class="selectpicker" name="sort" id="form_sort" data-style="btn-selectpicker" title="">-->
<!--                <option value="sortBy_0">Most popular   </option>-->
<!--                <option value="sortBy_1">Recommended   </option>-->
<!--                <option value="sortBy_2">Newest   </option>-->
<!--                <option value="sortBy_3">Oldest   </option>-->
<!--                <option value="sortBy_4">Closest   </option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </div>-->
          <div class="row">
            <!-- venue item-->
            <div class="col-sm-6 col-xl-4 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
              <div class="card h-100 border-0 shadow">
                <div id="image0" class="card-img-top overflow-hidden dark-overlay bg-cover" style="min-height: 200px;"><a class="tile-link" href="#" id="img0"></a>
                  <div class="card-img-overlay-bottom z-index-20">
                    <span>
                      <h4 id="name0" class="text-white text-shadow">Blue Hill </h4>
                    </span>
                    <p class="mb-2 text-xs"><i class="fa fa-star text-warning" id="star00"></i><i class="fa fa-star text-warning" id="star01"></i><i class="fa fa-star text-warning" id="star02"></i><i class="fa fa-star text-warning" id="star03"></i><i class="fa fa-star text-warning" id="star04"></i>
                    </p>
                  </div>
                  <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                    <div id="category0" class="badge badge-transparent badge-pill px-3 py-2 invisible">Restaurants</div>
<!--                    <a class="card-fav-icon position-relative z-index-40" href="javascript: void();">-->
<!--                      <i class="far fa-check-circle fa-3x" style="color: #FFFFFF" id="compliance0"></i>-->
<!--                        <use xlink:href="#heart-1"> </use>-->
<!--                    </a>-->
                  </div>
                </div>
                <div class="card-body">
<!--                  <p id="text0" class="text-sm text-muted mb-3"> Cupidatat excepteur non dolore laborum et quis nostrud veniam dolore deserunt. Pariatur dolore ut in elit id nulla. Irur...</p>-->
                  <p id="status0" class="text-sm text-muted text-uppercase mb-1">None <a href="#" class="text-dark"></a></p>
                  <p id="blue0" class="text-sm mb-0"><a class="mr-1" href="#"></a>
                  </p>
                </div>
              </div>
            </div>
            <!-- venue item-->
            <div class="col-sm-6 col-xl-4 mb-5 hover-animate" data-marker-id="59c0c8e322f3375db4d89128">
              <div class="card h-100 border-0 shadow">
                <div id="image1" class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(../../../d19m59y37dris4.cloudfront.net/directory/1-6/img/photo/restaurant-1436018626274-89acd1d6ec9d.jpg); min-height: 200px;"><a class="tile-link" id="img1"></a>
                  <div class="card-img-overlay-bottom z-index-20">
                    <h4 id="name1" class="text-white text-shadow">Plutorque</h4>
                    <p class="mb-2 text-xs"><i class="fa fa-star text-warning" id="star10"></i><i class="fa fa-star text-warning" id="star11"></i><i class="fa fa-star text-warning" id="star12"></i><i class="fa fa-star text-warning" id="star13"></i><i class="fa fa-star text-warning" id="star14"></i>
                    </p>
                  </div>
                  <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                    <div class="badge badge-transparent badge-pill px-3 py-2 invisible">Restaurant</div>
<!--                    <a class="card-fav-icon position-relative z-index-40" href="javascript: void();">-->
<!--                      <svg class="svg-icon text-white">-->
<!--                    <i class="far fa-check-circle fa-3x" style="color: #FFFFFF" id="compliance1"></i>-->
<!--                        <use xlink:href="#heart-1"> </use>-->
<!--                      </svg></a>-->
                  </div>
                </div>
                <div class="card-body">
<!--                  <p class="text-sm text-muted mb-3"> Proident irure eiusmod velit veniam consectetur id minim irure et nostrud mollit magna velit. Commodo amet proident aliq...</p>-->
                  <p id="status1" class="text-sm text-muted text-uppercase mb-1">By <a href="#" class="text-dark"></a></p>
                  <p id="blue1" class="text-sm mb-0"><a class="mr-1" href="#"></a>
                  </p>
                </div>
              </div>
            </div>
            <!-- venue item-->
            <div class="col-sm-6 col-xl-4 mb-5 hover-animate" data-marker-id="59c0c8e3a31e62979bf147c9">
              <div class="card h-100 border-0 shadow">
                <div id="image2" class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(../../../d19m59y37dris4.cloudfront.net/directory/1-6/img/photo/restaurant-1466978913421-dad2ebd01d17.jpg); min-height: 200px;"><a class="tile-link" id="img2"></a>
                  <div class="card-img-overlay-bottom z-index-20">
                    <h4 id="name2" class="text-white text-shadow">Junipoor</h4>
                    <p class="mb-2 text-xs"><i class="fa fa-star text-warning" id="star20"></i><i class="fa fa-star text-warning" id="star21"></i><i class="fa fa-star text-warning" id="star22"></i><i class="fa fa-star text-warning" id="star23"></i><i class="fa fa-star text-warning" id="star24"></i>
                    </p>
                  </div>
                  <div class="card-img-overlay-top d-flex justify-content-between align-items-center invisible">
                    <div class="badge badge-transparent badge-pill px-3 py-2 invisible">Music club</div>
<!--                    <a class="card-fav-icon position-relative z-index-40" href="javascript: void();">-->
<!--                      <svg class="svg-icon text-white">-->
<!--                        <use xlink:href="#heart-1"> </use>-->
<!--                      </svg></a>-->

<!--                      <i class="far fa-check-circle fa-3x" style="color: #FFFFFF" id="compliance2"> </i>-->
                    </div>
                </div>
                <div class="card-body">
<!--                  <p class="text-sm text-muted mb-3"> Lorem amet ex duis in et fugiat consectetur laborum eiusmod labore. Quis cupidatat et do dolor in in magna. Eu sit quis ...</p>-->
                  <p id="status2" class="text-sm text-muted text-uppercase mb-1">By <a href="#" class="text-dark">Matt Damon</a></p>
                  <p id="blue2" class="text-sm mb-0"><a class="mr-1" href="#"></a>
                  </p>
                </div>
              </div>
            </div>
            <!-- venue item-->
            <div class="col-sm-6 col-xl-4 mb-5 hover-animate" data-marker-id="59c0c8e3503eb77d487e8082">
              <div class="card h-100 border-0 shadow">
                <div id="image3" class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(../../../d19m59y37dris4.cloudfront.net/directory/1-6/img/photo/restaurant-1477763858572-cda7deaa9bc5.jpg); min-height: 200px;"><a class="tile-link" href="detail.html" id="img3"></a>
                  <div class="card-img-overlay-bottom z-index-20">
                    <h4 id="name3" class="text-white text-shadow">Musix</h4>
                    <p class="mb-2 text-xs"><i class="fa fa-star text-warning" id="star30"></i><i class="fa fa-star text-warning" id="star31"></i><i class="fa fa-star text-warning" id="star32"></i><i class="fa fa-star text-gray-300" id="star33"></i><i class="fa fa-star text-gray-300" id="star34"></i>
                    </p>
                  </div>
                  <div class="card-img-overlay-top d-flex justify-content-between align-items-center invisible">
<!--                    <div class="badge badge-transparent badge-pill px-3 py-2">Music club</div>-->
<!--                    <a class="card-fav-icon position-relative z-index-40" href="javascript: void();">-->
<!--                      <svg class="svg-icon text-white">-->
<!--                        <use xlink:href="#heart-1"> </use>-->
<!--                      </svg></a>-->
<!--                    <i class="far fa-check-circle fa-3x" style="color: #FFFFFF" id="compliance3"> </i>-->
                  </div>

                </div>
                <div class="card-body">
<!--                  <p class="text-sm text-muted mb-3"> Deserunt eiusmod Lorem proident consequat elit culpa laboris ea cupidatat. Consequat dolore proident ipsum qui sint enim...</p>-->
                  <p id="status3" class="text-sm text-muted text-uppercase mb-1">By <a href="#" class="text-dark">Matt Damon</a></p>
                  <p id="blue3" class="text-sm mb-0"><a class="mr-1" href="#"></a>
                  </p>
                </div>
              </div>
            </div>
            <!-- venue item-->
            <div class="col-sm-6 col-xl-4 mb-5 hover-animate" data-marker-id="59c0c8e39aa2eed0626e485d">
              <div class="card h-100 border-0 shadow">
                <div id="image4" class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(../../../d19m59y37dris4.cloudfront.net/directory/1-6/img/photo/restaurant-1504087697492-238a6bf49ce8.jpg); min-height: 200px;"><a class="tile-link" href="detail.html" id="img4"></a>
                  <div class="card-img-overlay-bottom z-index-20">
                    <h4 id="name4" class="text-white text-shadow">Prosure</h4>
                    <p class="mb-2 text-xs"><i class="fa fa-star text-warning" id="star40"></i><i class="fa fa-star text-warning" id="star41"></i><i class="fa fa-star text-warning" id="star42"></i><i class="fa fa-star text-warning" id="star43"></i><i class="fa fa-star text-warning" id="star44"></i>
                    </p>
                  </div>
                  <div class="card-img-overlay-top d-flex justify-content-between align-items-center invisible">
                    <div class="badge badge-transparent badge-pill px-3 py-2 invisible">Restaurant</div>
<!--                    <a class="card-fav-icon position-relative z-index-40" href="javascript: void();">-->
<!--                      <svg class="svg-icon text-white">-->
<!--                        <use xlink:href="#heart-1"> </use>-->
<!--                      </svg></a>-->
<!--                    <i class="far fa-check-circle fa-3x" style="color: #FFFFFF" id="compliance4"> </i>-->
                  </div>
                </div>
                <div class="card-body">
<!--                  <p class="text-sm text-muted mb-3"> Cillum sunt reprehenderit ea non irure veniam dolore commodo labore fugiat est consequat velit. Cupidatat nisi qui ad si...</p>-->
                  <p id="status4" class="text-sm text-muted text-uppercase mb-1">By <a href="#" class="text-dark">Matt Damon</a></p>
                  <p id="blue4" class="text-sm mb-0"><a class="mr-1" href="#"></a>
                  </p>
                </div>
              </div>
            </div>
            <!-- venue item-->
            <div class="col-sm-6 col-xl-4 mb-5 hover-animate" data-marker-id="59c0c8e39aa2edasd626e485d">
              <div class="card h-100 border-0 shadow">
                <div id="image5" class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(../../../d19m59y37dris4.cloudfront.net/directory/1-6/img/photo/restaurant-1505275350441-83dcda8eeef5.jpg); min-height: 200px;"><a class="tile-link" href="detail.html" id="img5"></a>
                  <div class="card-img-overlay-bottom z-index-20">
                    <h4 id="name5" class="text-white text-shadow">Take That</h4>
                    <p class="mb-2 text-xs"><i class="fa fa-star text-warning" id="star50"></i><i class="fa fa-star text-warning" id="star51"></i><i class="fa fa-star text-warning" id="star52"></i><i class="fa fa-star text-warning" id="star53"></i><i class="fa fa-star text-gray-300" id="star54">                    </i>
                    </p>
                  </div>
                  <div class="card-img-overlay-top d-flex justify-content-between align-items-center invisible">
                    <div class="badge badge-transparent badge-pill px-3 py-2 invisible">Café</div>
<!--                    <a class="card-fav-icon position-relative z-index-40" href="javascript: void();"> -->
<!--                      <svg class="svg-icon text-white">-->
<!--                        <use xlink:href="#heart-1"> </use>-->
<!--                      </svg></a>-->
<!--                    <i class="far fa-check-circle fa-3x" style="color: #FFFFFF" id="compliance5"> </i>-->
                  </div>
                </div>
                <div class="card-body">
<!--                  <p class="text-sm text-muted mb-3"> Cillum sunt reprehenderit ea non irure veniam dolore commodo labore fugiat est consequat velit. Cupidatat nisi qui ad si...</p>-->
                  <p id="status5" class="text-sm text-muted text-uppercase mb-1">By <a href="#" class="text-dark">Matt Damon</a></p>
                  <p id="blue5" class="text-sm mb-0"><a class="mr-1" href="#"></a>
                  </p>
                </div>
              </div>
            </div>



          </div>
          <!-- Pagination -->
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-template d-flex justify-content-center">
              <li class="page-item"><a class="page-link" href="#" id="prev"> <i class="fa fa-angle-left"></i></a></li>
              <li class="page-item active"><a class="page-link" href="#" id="page0">1</a></li>
              <li class="page-item"><a class="page-link" href="#" id="page1">2</a></li>
              <li class="page-item"><a class="page-link" href="#" id="page2">3</a></li>
              <li class="page-item"><a class="page-link" href="#" id="next"> <i class="fa fa-angle-right"></i></a></li>
            </ul>
          </nav>
        </div>
        <script>
                var page = {{page|safe}}

                for (var i = 0; i < 3; i++) {
                    console.log(i.toString());
                    document.getElementById("page" + i.toString()).innerHTML = (page + i).toString();
                    document.getElementById("page" + i.toString()).href = (page + i).toString();
                }
                document.getElementById("next").href = (page + 1).toString();
                if(page > 0) {
                    document.getElementById("prev").href = (page - 1).toString();
                }

                var List = {{ restaurant_list|safe }};
                for (var i = 0; i < 6; i++) {
                    console.log(List[i]['restaurant_name']);
                    if (List[i]['yelp_info'] != null) {
                        if (List[i]['yelp_info']['image_url'] != null) {
                           console.log(List[i]['yelp_info']['image_url']);
                           document.getElementById("image" + i.toString()).style.backgroundImage = "url(" + List[i]['yelp_info']['image_url'] + ")";
                           document.getElementById("img" + i.toString()).href = "../" + List[i]['id'];
                        }
                        if (List[i]['yelp_info']['categories'] != null) {
                          var categories_str = "";
                          for(var j = 0; j < List[i]['yelp_info']['categories'].length; j++) {
                            console.log(List[i]['yelp_info']['categories'][j]);
                            categories_str += List[i]['yelp_info']['categories'][j]['title'] + "\t";
                          }
                          document.getElementById("blue" + i.toString()).innerHTML = categories_str;
                        }

                        if (List[i]['yelp_info']['rating'] != null) {
                            console.log(List[i]['yelp_info']['rating']);
                            for (var r = 0 ; r < 5; r++) {
                                if (r > List[i]['yelp_info']['rating'] - 1) {
                                    document.getElementById("star" + i.toString() + r.toString()).className = "fa fa-star text-gray-300";
                                }
                            }
                        }
                    }
                    console.log(List[i]['latest_record']['is_roadway_compliant'])
                    if (List[i]['latest_record'] != null) {
                      document.getElementById("status" + i.toString()).innerHTML = List[i]['latest_record']['is_roadway_compliant'];
                      //document.getElementById("compliance" + i.toString()).className = "far fa-check-circle fa-3x";
                      //document.getElementById("compliance" + i.toString()).style.color = "#FFFFFF"
                    }
                    document.getElementById("name" + i.toString()).innerHTML = List[i]['restaurant_name'];
                    document.getElementById("name" + i.toString()).href = "../" + List[i]['id'];

                }
            </script>
      </div>
    </div>
<script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite -
      //   see more here
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {

          var ajax = new XMLHttpRequest();
          ajax.open("GET.html", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }
      // to avoid CORS issues when viewing using file:// protocol, using the demo URL for the SVG sprite
      // use your own URL in production, please :)
      // https://demo.bootstrapious.com/directory/1-0/icons/orion-svg-sprite.svg
      //- injectSvgSprite('${path}icons/orion-svg-sprite.69651a96.svg');
      injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg');

    </script>
{% endblock %}