<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table id="res_open_hours"></table>
<script>

for(i=0; i < yelp_info.hours[0].open.length; i++)
  {
    var opening_hours = document.getElementById("res_open_hours");
    var row = document.createElement("tr");
    opening_hours.appendChild(row);
    var thh = document.createElement("th");
    thh.className = "pl-0";
    thh.innerHTML="+hello+";
    row.appendChild(thh);
    var tdd = document.createElement("td");
    tdd.className = "pr-0 text-right border-0";
    tdd.innerHTML=yelp_info.hours[0].open[i].start + "-" +yelp_info.hours[0].open[i].end;
    row.appendChild(tdd);

  }
</script>
</body>
</html>