{% block content %}
<h2><ul><a href="{{ link }}">{{ name }}</a></ul></h2>
<li>Name of restaurant is  <strong>{{ name }}</strong></li><br>
<li><img src="{{ img_url }}" height="100px" width="100px" /></li>
<li>Phone No of restaurant is  <strong>{{ phone }}</strong></li><br>
<li>Display Phone No of restaurant is  <strong>{{ disp_phone }}</strong></li><br>
<li>Review count is  <strong>{{ rcnt }}</strong></li><br>
<li>Rating is  <strong>{{ rate }}</strong></li><br>
<!--<li>Type  <strong>{{ type }}</strong></li><br>-->
<li>Location is  <strong>{{ loc }}</strong></li><br>
    <ul>
        <li><img src="{{ p1 }}" height="100px" width="100px" /></li>
        <li><img src="{{ p2 }}" height="100px" width="100px" /></li>
        <li><img src="{{ p3 }}" height="100px" width="100px" /></li>
    </ul>
<li>Price is  <strong>{{ price }}</strong></li><br>
<h2>Reviews</h2>
<p>
    <img src="{{ r1_user_img }}" height="100px" width="100px" /><br>
    User name: <a href="{{ r1_user_url }}">{{ r1_user_name }}</a><br>
    Review text : {{ r1_text }}<br>
    Rating : {{ r1_rate }}<br>
    Time posted : {{ r1_time }}<br>
</p><br><br>
<p>
    <img src="{{ r2_user_img }}" height="100px" width="100px" /><br>
    User name: <a href="{{ r2_user_url }}">{{ r2_user_name }}</a><br>
    Review text : {{ r2_text }}<br>
    Rating : {{ r2_rate }}<br>
    Time posted : {{ r2_time }}<br>
</p><br><br>
<p>
    <img src="{{ r3_user_img }}" height="100px" width="100px" /><br>
    User name: <a href="{{ r3_user_url }}">{{ r3_user_name }}</a><br>
    Review text : {{ r3_text }}<br>
    Rating : {{ r3_rate }}<br>
    Time posted : {{ r3_time }}<br>
</p><br><br>
<h2>Compliance data</h2>
<li>seating_choice is  <strong>{{ seating_choice }}</strong></li><br>
<li>is_sideway_compliant:  <strong>{{ is_sideway_compliant }}</strong></li><br>
<li>is_roadway_compliant:  <strong>{{ is_roadway_compliant }}</strong></li><br>
<li>inspected_on:  <strong>{{ inspected_on }}</strong></li><br>
{% endblock %}

