<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Dine safely</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>

  <!-- Page Content -->
  <div class="container">


    <div class="row">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="" id="img0"></a>
              <div class="card-body">
                <h4 class="card-title">
                    <a href="" id = "0"> </a>
                </h4>
              </div>
              <div class="card-footer">
                <small class="text-muted" id="rating0">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="" id="img1"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#" id = "1">Item Two</a>
                </h4>
              </div>
              <div class="card-footer">
                <small class="text-muted" id="rating1">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="" id="img2"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#" id = "2">Item Three</a>
                </h4>
              </div>
              <div class="card-footer">
                <small class="text-muted" id="rating2">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="" id="img3"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#" id = "3">Item Four</a>
                </h4>
              </div>
              <div class="card-footer">
                <small class="text-muted" id="rating3">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="" id="img4"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#" id = "4">Item Five</a>
                </h4>
              </div>
              <div class="card-footer">
                <small class="text-muted" id="rating4">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="" id="img5"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#" id = "5">Item Six</a>
                </h4>
              </div>
              <div class="card-footer">
                <small class="text-muted" id="rating5">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#" tabindex="-1" id="page-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#" id="page0">1</a></li>
                <li class="page-item"><a class="page-link" href="#" id="page1">2</a></li>
                <li class="page-item"><a class="page-link" href="#" id="page2">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" id="page3">Next</a>
                </li>
              </ul>
            </nav>

            <script>
                var page = {{page|safe}}

                for (var i = 0; i < 3; i++) {
                    console.log(i.toString());
                    document.getElementById("page" + i.toString()).innerHTML = (page + i).toString();
                    document.getElementById("page" + i.toString()).href = (page + i).toString();
                }
                document.getElementById("page3").href = (page + 1).toString();
                if(page > 0) {
                    document.getElementById("page-1").href = (page - 1).toString();
                }

                var List = {{ restaurant_list|safe }};
                for (var i = 0; i < List.length; i++) {
                    console.log(List[i]['restaurant_name']);
                    if (List[i]['yelp_info'] != null) {
                        console.log(List[i]['yelp_info']['image_url']);
                        if (List[i]['yelp_info']['image_url'] != null) {
                            document.getElementById("img" + i.toString()).src = List[i]['yelp_info']['image_url'];
                        }
                        if (List[i]['yelp_info']['rating'] != null) {
                            let rating = ""

                            for (var r = 0 ; r < 5; r++){
                                if (r < List[i]['yelp_info']['rating']) {
                                    rating = rating + "&#9733; "
                                } else {
                                    rating = rating + "&#9734; "
                                }
                            }
                            console.log(rating);
                            document.getElementById("img" + i.toString()).src = List[i]['yelp_info']['image_url'];
                            document.getElementById("rating" + i.toString()).innerHTML = rating;
                        }
                    }
                    document.getElementById(i.toString()).innerHTML = List[i]['restaurant_name'];
                    document.getElementById(i.toString()).href = "../" + List[i]['id'];
                }
            </script>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

</body>

</html>
